.App {
  font-family: sans-serif;
  text-align: center;
}

.app--header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: hotpink;
  padding: 20px;
}

.app--header > li a {
  color: white;
  text-decoration: none;
}

UpSetJS {
  margin-top: 100px;
  transform: rotate(90deg);
}

.main-screen-container {
  position: relative;
  margin: auto;
  margin-top: 64px;

  .add-button-container {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }
}