.input-screen-container {
  position: relative;
  margin: auto;
  margin-top: 64px;

  .item-options {
    max-width: 5 * 100px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 20px;

    .item {
      cursor: pointer;
      max-width: 100px;
      position: relative;
      margin-left: auto;
      margin-right: auto;

      &.item__highlighted {
        outline: solid black 2px;
      }

      &.item-alone__highlighted {
        color: red;
      }

      .item--image-container {
        position: relative;
        max-width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;

        .item--image {
          position: absolute;
          bottom: 0;
        }
      }

      .item--text {
        font-size: 13px;
        margin-top: 10px;
        font-weight: bold;
      }

      .item--alone-text {
        font-size: 20px;
        margin-top: 80px;
        font-weight: bold;
      }
    }
  }

  .next-button-container {
    max-width: 5 * 100px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }
}
